@font-face {
  font-family: "SF Pro Rounded";
  src: local("SF Pro Rounded Regular"), local("SF-Pro-Rounded-Regular"),
    url("../fonts/SF-Pro-Rounded-Regular.eot") format("embedded-opentype"),
    url("../fonts/SF-Pro-Rounded-Regular.woff") format("woff"),
    url("../fonts/SF-Pro-Rounded-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: local("SF Pro Rounded Semibold"), local("SF-Pro-Rounded-Semibold"),
    url("../fonts/SF-Pro-Rounded-Semibold.eot") format("embedded-opentype"),
    url("../fonts/SF-Pro-Rounded-Semibold.woff") format("woff"),
    url("../fonts/SF-Pro-Rounded-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: local("SF Pro Rounded Bold"), local("SF-Pro-Rounded-Bold"),
    url("../fonts/SF-Pro-Rounded-Bold.eot") format("embedded-opentype"),
    url("../fonts/SF-Pro-Rounded-Bold.woff") format("woff"),
    url("../fonts/SF-Pro-Rounded-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText-Medium.eot");
  src: local("SF Pro Text Medium"), local("SFProText-Medium"),
    url("../fonts/SFProText-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProText-Medium.woff2") format("woff2"),
    url("../fonts/SFProText-Medium.woff") format("woff"),
    url("../fonts/SFProText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText-Regular.eot");
  src: local("SF Pro Text Regular"), local("SFProText-Regular"),
    url("../fonts/SFProText-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProText-Regular.woff2") format("woff2"),
    url("../fonts/SFProText-Regular.woff") format("woff"),
    url("../fonts/SFProText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/FProText-Semibold.eot");
  src: local("SF Pro Text Semibold"), local("SFProText-Semibold"),
    url("../fonts/SFProText-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProText-Semibold.woff2") format("woff2"),
    url("../fonts/SFProText-Semibold.woff") format("woff"),
    url("../fonts/SFProText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Rounded", sans-serif;
  padding-top: 44px;
  background-color: #f2f2f2;
}

a,
button {
  cursor: pointer;
  color: inherit;
}

.hide {
  display: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.logo {
  text-decoration: none;
  width: 100px;
}

.logo img {
  display: block;
  max-width: 100%;
  height: auto;
}

.input {
  background: #ffffff no-repeat left 11px center;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 8px 8px 45px;
}

.input:focus {
  outline: 2px solid #7b7d83;
}

.address {
  flex: 0.8;
}

.input-address {
  width: 100%;
  background: #efeeee url(../img/icons/location.svg) no-repeat top 8px left 12px;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.0015);
  font-size: 17px;
  line-height: 21px;
}

.button-primary {
  background: #fa4a0c;
  border: 2px solid #fa4a0c;
  color: #f6f6f9;
  margin: 0 5px;
}

.button-primary:hover {
  background: #efeeee;
  border: 2px solid #fa4a0c;
  color: #fa4a0c;
}

.button-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #f6f6f9;
}

.button-primary .button-auth-svg {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background-color: #f6f6f9;
  -webkit-mask: url("../img/icons/login.svg") no-repeat 50% 50%;
  mask: url("../img/icons/login.svg") no-repeat 50% 50%;
  background-repeat: no-repeat;
}

.button-primary:hover .button-auth-svg {
  background-color: #fa4a0c;
}

.button-primary:hover .button-text {
  color: #fa4a0c;
}

.button-cart {
  display: none;
  margin: 0 5px;
  background: #efeeee;
  border: 2px solid #fa4a0c;
  color: #fa4a0c;
}

.button-cart .button-cart-svg {
  width: 24px;
  height: 24px;
  background-color: #fa4a0c;
  -webkit-mask: url("../img/icons/cart.svg") no-repeat 50% 50%;
  mask: url("../img/icons/cart.svg") no-repeat 50% 50%;
  background-repeat: no-repeat;
}

.button-cart .button-text {
  color: #fa4a0c;
}

.button-cart:hover {
  background-color: #fa4a0c;
}

.button-cart:hover .button-cart-svg {
  background-color: #f6f6f9;
}

.button-cart:hover .button-text {
  color: #f6f6f9;
}

.button-out {
  display: none;
  margin: 0 5px;
}

.button-primary .button-out-svg {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background-color: #f6f6f9;
  -webkit-mask: url("../img/icons/logout.svg") no-repeat 50% 50%;
  mask: url("../img/icons/logout.svg") no-repeat 50% 50%;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.button-primary:hover .button-out-svg {
  background-color: #fa4a0c;
}

.user-name {
  display: none;
  margin-right: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.search {
  margin-left: auto;
}

.input-search {
  width: 300px;
  background-image: url(../img/icon/search.svg);
}

.container-promo {
  width: 600px;
  height: 300px;
}

.promo {
  position: relative;
  padding: 68px 70px;
  margin-bottom: 56px;
  height: 400px;
}

.promo-shape {
  width: 70%;
  border-radius: 10px none none 10px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 400px solid #f29030;
  border-right: 200px solid transparent;
  z-index: -50;
}

.promo-title,
.promo-text {
  color: #fff;
}

.promo-title {
  font-weight: 700;
  font-size: 48px;
}
.promo-text {
  font-weight: 400;
  font-size: 18px;
}

.pizza {
  background: url(../img/promo/pizza1.jpg) no-repeat right;
  background-size: contain;
}

.sushi {
  background: url(../img/promo/sushi1.jpg) no-repeat right;
  background-size: contain;
}

.burger {
  background: url(../img/promo/burger1.jpg) no-repeat right;
  background-size: contain;
}

.dessert {
  background: url(../img/promo/dessert1.jpg) no-repeat right;
  background-size: contain;
}

.swiper-pagination-bullet {
  background-color: #fa4a0c;
}
