@font-face {
  font-family: "SF Pro Rounded";
  src: local("SF Pro Rounded Regular"), local("SF-Pro-Rounded-Regular"),
    url("../fonts/SF-Pro-Rounded-Regular.eot") format("embedded-opentype"),
    url("../fonts/SF-Pro-Rounded-Regular.woff") format("woff"),
    url("../fonts/SF-Pro-Rounded-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: local("SF Pro Rounded Semibold"), local("SF-Pro-Rounded-Semibold"),
    url("../fonts/SF-Pro-Rounded-Semibold.eot") format("embedded-opentype"),
    url("../fonts/SF-Pro-Rounded-Semibold.woff") format("woff"),
    url("../fonts/SF-Pro-Rounded-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: local("SF Pro Rounded Bold"), local("SF-Pro-Rounded-Bold"),
    url("../fonts/SF-Pro-Rounded-Bold.eot") format("embedded-opentype"),
    url("../fonts/SF-Pro-Rounded-Bold.woff") format("woff"),
    url("../fonts/SF-Pro-Rounded-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText-Medium.eot");
  src: local("SF Pro Text Medium"), local("SFProText-Medium"),
    url("../fonts/SFProText-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProText-Medium.woff2") format("woff2"),
    url("../fonts/SFProText-Medium.woff") format("woff"),
    url("../fonts/SFProText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText-Regular.eot");
  src: local("SF Pro Text Regular"), local("SFProText-Regular"),
    url("../fonts/SFProText-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProText-Regular.woff2") format("woff2"),
    url("../fonts/SFProText-Regular.woff") format("woff"),
    url("../fonts/SFProText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/FProText-Semibold.eot");
  src: local("SF Pro Text Semibold"), local("SFProText-Semibold"),
    url("../fonts/SFProText-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProText-Semibold.woff2") format("woff2"),
    url("../fonts/SFProText-Semibold.woff") format("woff"),
    url("../fonts/SFProText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Rounded", sans-serif;
  padding-top: 44px;
  background-color: #f2f2f2;
}

a,
button {
  cursor: pointer;
  color: inherit;
}

button:focus {
  outline: transparent;
}

.hide {
  display: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.logo {
  text-decoration: none;
  width: 100px;
}

.logo img {
  display: block;
  max-width: 100%;
  height: auto;
}

.input {
  border: none;
  border-radius: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 14px 14px 14px 56px;
}

input::placeholder {
  color: #8c8c8c;
}

.input:focus {
  outline: 2px solid #7b7d83;
}

.address {
  flex: 0.8;
}

.input-address {
  width: 100%;
  background: #efeeee url(../img/icons/location.svg) no-repeat top 14px left
    22px;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 30px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 21px;
}

.button:focus {
  outline: transparent;
}

.button-primary {
  background: #fa4a0c;
  border: 2px solid #fa4a0c;
  color: #f6f6f9;
  margin: 0;
}

.button-primary:hover {
  background: #efeeee;
  border: 2px solid #fa4a0c;
  color: #fa4a0c;
}

.button-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #f6f6f9;
}

.button-primary .button-auth-svg {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background-color: #f6f6f9;
  -webkit-mask: url("../img/icons/login.svg") no-repeat 50% 50%;
  mask: url("../img/icons/login.svg") no-repeat 50% 50%;
  background-repeat: no-repeat;
}

.button-primary:hover .button-auth-svg {
  background-color: #fa4a0c;
}

.button-primary:hover .button-text {
  color: #fa4a0c;
}

.button-cart {
  display: none;
  margin: 0 5px;
  background: #efeeee;
  border: 2px solid #fa4a0c;
  color: #fa4a0c;
}

.button-cart .button-cart-svg {
  width: 24px;
  height: 24px;
  background-color: #fa4a0c;
  -webkit-mask: url("../img/icons/cart.svg") no-repeat 50% 50%;
  mask: url("../img/icons/cart.svg") no-repeat 50% 50%;
  background-repeat: no-repeat;
}

.button-cart .button-text {
  color: #fa4a0c;
}

.button-cart:hover {
  background-color: #fa4a0c;
}

.button-cart:hover .button-cart-svg {
  background-color: #f6f6f9;
}

.button-cart:hover .button-text {
  color: #f6f6f9;
}

.button-out {
  display: none;
  margin: 0 5px;
}

.button-primary .button-out-svg {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background-color: #f6f6f9;
  -webkit-mask: url("../img/icons/logout.svg") no-repeat 50% 50%;
  mask: url("../img/icons/logout.svg") no-repeat 50% 50%;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.button-primary:hover .button-out-svg {
  background-color: #fa4a0c;
}

.user-name {
  display: none;
  margin-right: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.container-promo {
  height: 400px;
}

.promo {
  position: relative;
  padding: 68px 70px;
}

.promo-shape {
  width: 70%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 400px solid #f29030;
  border-right: 200px solid transparent;
  z-index: -50;
}

.promo-title,
.promo-text {
  color: #fff;
}

.promo-title {
  font-weight: 700;
  font-size: 48px;
}
.promo-text {
  font-weight: 400;
  font-size: 18px;
}

.pizza {
  background: url(../img/promo/pizza1.jpg) no-repeat right;
  background-size: contain;
}

.sushi {
  background: url(../img/promo/sushi1.jpg) no-repeat right;
  background-size: contain;
}

.burger {
  background: url(../img/promo/burger1.jpg) no-repeat right;
  background-size: contain;
}

.dessert {
  background: url(../img/promo/dessert1.jpg) no-repeat right;
  background-size: contain;
}

.swiper-pagination-bullet {
  background-color: #fa4a0c;
}

.restaurants,
.menu {
  margin-top: 64px;
}

.search {
  flex: 0.8;
  margin-left: auto;
}

.input-search {
  width: 100%;
  background: #efeeee url(../img/icons/search.svg) no-repeat top 14px left 22px;
}

.section-heading {
  display: flex;
  align-items: center;
  margin: 0 0 54px;
}

.section-title {
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  margin: 0 30px 0 0;
  color: #000000;
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  background: #ffffff;
  box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
  border-radius: 30px;
  margin: 72px 0;
  display: flex;
  justify-content: center;
  flex-basis: 31%;
  text-decoration: none;
}

.card-restaurant {
  cursor: pointer;
  position: relative;
  height: 370px;
}

.card-img-wrap {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  height: 250px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.07);
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-restaurant .card-text {
  width: 80%;
  padding: 44px 0 34px;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.card-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card-title {
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
}

.card-tag {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  background: #fa4a0c;
  border-radius: 30px;
  padding: 1px 8px;
}

.card-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.rating {
  background-image: url("../img/icons/rating.svg");
  background-repeat: no-repeat;
  background-position: 0 10px;
  padding-left: 20px;
  margin-right: 26px;
  color: #f29030;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
}

.price,
.category {
  color: #8c8c8c;
  font-size: 18px;
  line-height: 32px;
}

.price {
  margin-right: 10px;
}

.price:after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #8c8c8c;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 10px;
}

.category {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 150px;
}

.card-menu {
  cursor: pointer;
  position: relative;
  height: 460px;
}

.card-menu .card-text {
  width: 80%;
  padding: 24px 0 34px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.card-buttons {
  display: flex;
  margin-top: 24px;
  flex-grow: 1;
  align-items: flex-end;
}

.card-price-bold {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin-left: 60px;
}

.ingredients {
  color: #8c8c8c;
  font-size: 18px;
  line-height: 21px;
}

.footer {
  padding: 60px 0;
}

.footer-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  margin-left: 35px;
  margin-right: auto;
}

.footer-link {
  display: inline-block;
  color: #8c8c8c;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.footer-link:not(:last-child) {
  margin-right: 15px;
}

.footer-link:hover {
  color: #fa4a0c;
  border-bottom: 3px solid #fa4a0c;
  box-shadow: 0px 4px 4px rgba(196, 63, 21, 0.1);
}

.footer-link:active {
  color: #8c8c8c;
  border-bottom: 3px solid #8c8c8c;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-link:not(:last-child) {
  margin-right: 21px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 999;
  overflow: scroll;
  padding: 40px;
}

.modal-auth {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 999;
}

.is-open {
  display: flex;
}

.modal-dialog {
  max-width: 780px;
  width: 95%;
  background: #ffffff;
  border-radius: 30px;
  margin: auto;
}

.modal-dialog-auth,
.modal-dialog-cart {
  width: auto;
  position: relative;
}

.modal-header {
  width: 100%;
  background-color: #ededed;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.modal-title {
  padding: 30px 40px;
}

.modal-body {
  max-width: 600px;
  padding: 30px 40px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.label-auth {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.label-auth span {
  width: 80px;
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #8c8c8c;
  margin-bottom: 10px;
}

.input-auth {
  border: none;
  border-bottom: 1px solid #000;
}

.input-auth:focus {
  outline: transparent;
}

.input-auth:placeholder {
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: #000;
}

.button-login {
  margin: 60px 0 0;
}

.close-auth,
.close-cart {
  font-size: 36px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 20px;
}

.food-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  border: 1px solid #ededed;
  padding: 16px;
  margin-bottom: 14px;
}

.card-thumb-wrap {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.food-wrap {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
}

.card-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food-name {
  flex-basis: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 14px;
}

.food-price {
  display: block;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #fa4a0c;
}

.food-counter {
  background: #fa4a0c;
  border-radius: 30px;
  padding: 2px 9px;
  color: #fff;
}

.counter-button {
  border: none;
  background-color: #fa4a0c;
}

.modal-footer {
  padding: 30px 40px;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}

.total-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}

.total-pricetag {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-clear {
  background: #efeeee;
  border: 2px solid #fa4a0c;
  color: #fa4a0c;
  margin-left: 60px;
}

.button-clear:hover {
  background-color: #fa4a0c;
  color: #f6f6f9;
}
